{
  "plugins": [
    ["module-resolver", {
      "root": ["./test/examples/**"],
      "alias": {
        "components": "./test/examples/components",
        "underscore": "npm:lodash"
      },
      "extensions": [".js", ".customExt"]
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-module-resolver", {
          "alias": {
            "subsub": "./test/examples/components/sub/sub"
          }
        }]
      ]
    }
  }
}
