{
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "cwd": "./test/examples/components/sub/envonly",
          "alias": {
            "subsub": "../sub"
          }
        }]
      ]
    }
  }
}
