{
  "plugins": [
    ["module-alias", [
        { "src": "./test/examples/components", "expose": "components" },
        { "src": "npm:lodash", "expose": "underscore" }
    ]]
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-module-alias", [
          { "src": "./test/examples/components/sub/sub", "expose": "subsub" }
        ]]
      ]
    }
  }
}
