{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      },
      "loose": true,
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
